<mt:setvar name="page_title" value="<__trans phrase="Blog Appearance">">

<mt:setvarblock name="system_msg">
<mt:if name="error">
  <mtapp:statusmsg
     id="generic-error"
     class="error"
     can_close="0">
    <mt:var name="error">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="saved">
  <mt:if name="can_rebuild">
  <mtapp:statusmsg
     id="saved"
     class="success"
     rebuild="all"
     can_close="1">
    <__trans phrase="Your preferences have been saved.">
  </mtapp:statusmsg>
  <mt:else>
  <mtapp:statusmsg
     id="saved"
     class="success"
     can_close="1">
    <__trans phrase="Your preferences have been saved.">
  </mtapp:statusmsg>
  </mt:if>
</mt:if>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
    <script src="<$mt:var name="static_uri"$>plugins/TemplateCallback/ColorPicker/jquery.colorpicker.js"></script>
    <link href="<$mt:var name="static_uri"$>plugins/TemplateCallback/ColorPicker/jquery.colorpicker.css" rel="stylesheet" type="text/css"/>
</mt:setvarblock>

<mt:setvarblock name="jq_js_include" append="1">
    jQuery('.color-picker').colorpicker({
        limit: 'websafe',
        colorFormat: ['EXACT', '#HEX']
    });
</mt:setvarblock>


<mt:include name="include/header.tmpl">

<form id="appearance_form" name="appearance_form" method="post" action="<mt:var name="script_url">">
  <input type="hidden" name="__mode" value="theme_appearance" />
  <input type="hidden" name="save" value="1" />
  <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token" escape="html">" />

<mt:loop name="variables">

<mtapp:setting
	id="$id"
	label="$label">
  <mt:if name="type" eq="color">
	<input type="text" name="<$mt:var name="id"$>" class="text color-picker" value="<mt:var name="value" escape="html">" />
  </mt:if>
  <mt:if name="type" eq="image">
  <input type="text" class="text" disabled="disabled" value="<mt:var name="value" escape="html">" />
  <input type="hidden" name="<$mt:var name="id"$>" value="<$mt:var name="source"$>" />
  <a href="<mt:var name="script_url">?__mode=tc_dialog_list_assets&amp;blog_id=<$mt:var name="blog_id"$>&amp;filter=class&amp;filter_val=image&amp;edit_field=<$mt:var name="name"$>" class="mt-open-dialog button">Change image</a>
  </mt:if>
</mtapp:setting>

</mt:loop>

  <mt:setvarblock name="action_buttons">
    <button
       type="submit"
       accesskey="s"
       title="<__trans phrase="Save changes to these settings (s)">"
       class="save action primary button">
      <__trans phrase="Save Changes">
    </button>
  </mt:setvarblock>
  <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>



<script type="text/javascript">
function SetImageFieldValue(name, value, source) {
  var $set = jQuery('#var_' + name + '-field');
  var $text = $set.find('input[type="text"]');
  $text.val(value);
  var $src = $set.find('input[type="hidden"]');
  $src.val(source);
}
</script>

<mt:include name="include/footer.tmpl">
